<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.min.js"></script> 
    <style>
      .RForm_cont{
        margin-top: 26%;
        margin-left: 8%;
      }
      #campos{
        margin-top: 0.8%;
        margin-bottom: 2% ;
      }
      #Logo-restaurante{
        position: absolute;
        top: 12.10%;
        right: 0%;
        
      }
      
      
    </style> 
</head>
<body class="">
    <form class="container">
      <div class="RForm_cont">
  
        <h1>¡Bienvenido!</h1>
        <div class="card bg-light rounded-3 col-md-5 card-body " id="Contenedor">
  
          <div id="campos">
  
            <div class="form-group">
                <label for="nombre">Usuario:</label>
                <input type="text" class="form-control"  id="nombre" placeholder="Nombres o correo electrónico">
              </div>
            <div class="form-group">
              <label for="contraseña">Contraseña:</label>
              <input type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
            </div>
  
            <br>
            <button type="submit" class="btn btn-primary ">Iniciar Sesión</button>
            <br>
  
          </div>
          
        </div>
        
  
      </div>
   
  </form>
  <div id="Logo-restaurante" class="float-end img-fluid" >
    <img src="./img/neo-high-resolution-logo-black-transparent-1(2).png" alt="Logo">
  </div>
  </body>
</html>