@font-face {
    font-family: lemon milk;
    src: url(./Fonts/LEMONMILK-Regular.otf);
}

body {
    font-family: 'lemon milk';
    margin: 0;
    padding: 0;
    position: relative;
}

/* Capa de fondo con desenfoque */
body::before {
    content: ""; /*Capa para el efecto */
   /*  background-image: url('img/image-1.png');*/
    background-color: #DEDEDE;
    background-size: cover;
    background-position: top;
    filter: blur(5px);  /* Filtro desenfoque */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

 /* Contenedor para la imagen Neo Restaurant */
    .image-container {
        position: absolute;
        top: 40px; /* Ajusta la posición según sea necesario */
        left: 240px; /* Ajusta la posición según sea necesario */
        transform: translate(-50%, -50%);
    }
    
    .center-image {
        max-width: 80px; /* Cambia el ancho máximo de la imagen */
        max-height: 80px; /* Cambia la altura máxima de la imagen */
    }

   
    /* Barra de navegacion */
.navbar {
    background-color: #1f1f1f;
    padding: 10px 10px;
    max-width: 100%;
    margin: 0 auto;
}

.container { /*Contenedor barra de navegacion*/
    max-width: 100%;
    margin: 2.05rem auto;
    text-align: center;
    position: relative;
}

.nav-links {
    position: absolute;
    top: -20px; /* Ajusta la posición según sea necesario */
    left: 220px; /* Ubica el logo en la mitad del contenedor */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}



.nav-links a { /*Texto barra de navegacion*/
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.2s;
    border-radius: 10px;
    font-size: 1.5rem;
}

.nav-links a:hover { /*Hover  barra navegacion*/
    background-color: #828282;
    
    
}

/* Estilos para los botones */
.btn-reservaciones, .btn-membresia {
    position: fixed;
    font-family: 'lemon milk';
    white-space: nowrap;
    font-size: 130%;
    bottom: 115px;
    width: 20%;
    padding: 20px;
    margin: 10px;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.5s;
}

.btn-reservaciones {
    left: 320px;
    background-color: #fff;
}

.btn-membresia {
    right: 320px;
    background-color: #fff;
}

.btn-reservaciones:hover, .btn-membresia:hover {
    background-color: #cecccc;
}

/* Imagenes del Slider */
.carousel-item img {
    max-width: 100%;  /* Establece el ancho al 100% del contenedor */
    height: 650px; /* Establece una altura específica */
}



.login-image {
    position: absolute;
    top: 25px;
    left: 860px;
    width: 500px;
    opacity: 1;
}


/* Login */
.login-container {
    font-family: 'lemon milk';
    position: relative;
    top: 100px;
    width: 500px;
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
    align-items: center; /* Centrar horizontalmente los elementos */
}

.form-group {
    width: 100%; /* Ajusta el ancho de los campos del formulario */
    margin-bottom: 15px; /* Espacio entre los campos */
    margin-bottom: 15px; /* Espacio entre los elementos del formulario */
}

label {
    display: block; /* Para que cada etiqueta esté en una línea diferente */
    margin-bottom: 5px; /* Espacio entre las etiquetas y los campos de entrada */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Ancho completo */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Borde redondeado */
}

button.btn-login {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: none; /* Sin borde */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

button.btn-login:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

.btn-login {
    margin-bottom: 15px; /* Espacio entre los elementos del formulario */
}

.links-container {
    font-family: 'lemon milk';
    font-size: 14px;
    display: flex; /* Utiliza flexbox para colocar los elementos en línea */
    align-items: center; /* Alinea verticalmente los elementos al centro */
}

.forgot-password, .register-link {
    
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    padding: 10px;

}



