body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Capa de fondo con desenfoque */
body::before {
    content: ""; /*Capa para el efecto */
    background-image: url('img/image-1.png');
    background-size: cover;
    background-position: top;
    filter: blur(5px);  /* Filtro desenfoque */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Contenedor para la imagen Neo Restaurant */
    .image-container {
        position: absolute;
        top: 51%; /* Cambia la posición vertical */
        left: 15%; /* Cambia la posición horizontal */
        transform: translate(-50%, -50%);
    }

    .center-image {
        max-width: 100px; /* Cambia el ancho máximo de la imagen */
        max-height: 100px; /* Cambia la altura máxima de la imagen */
    }


/* Barra de navegacion */
.navbar {
    background-color: #2d2d2d;
    padding: 10px 10px;
    max-width: 100%;
    margin: 0 auto;
}

.container { /*Contenedor barra de navegacion*/
    max-width: 100%;
    margin: 2.05rem auto;
    text-align: center;
    position: relative;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}



.nav-links a { /*Texto barra de navegacion*/
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.2s;
    border-radius: 10px;
    font-size: 1.5rem;
}

.nav-links a:hover { /*Hover  barra navegacion*/
    background-color: #828282;
    
    
}

/* Estilos para los botones */
.btn-reservaciones, .btn-membresia {
    position: fixed;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    bottom: 115px;
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: none;
    color: #000;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.5s;
}

.btn-reservaciones {
    left: 320px;
    background-color: #fff;
}

.btn-membresia {
    right: 320px;
    background-color: #fff;
}

.btn-reservaciones:hover, .btn-membresia:hover {
    background-color: #cecccc;
}